<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.instagramweb.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.instagramweb.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfileServlet</display-name>
    <servlet-name>ViewProfileServlet</servlet-name>
    <servlet-class>com.instagramweb.controller.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfileServlet</servlet-name>
    <url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckEmailServlet</display-name>
    <servlet-name>CheckEmailServlet</servlet-name>
    <servlet-class>com.instagramweb.controller.CheckEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmailServlet</servlet-name>
    <url-pattern>/CheckEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateCaptchaServlet</display-name>
    <servlet-name>GenerateCaptchaServlet</servlet-name>
    <servlet-class>com.instagramweb.controller.GenerateCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateCaptchaServlet</servlet-name>
    <url-pattern>/GenerateCaptchaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadCountryServlet</display-name>
    <servlet-name>LoadCountryServlet</servlet-name>
    <servlet-class>com.instagramweb.controller.LoadCountryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCountryServlet</servlet-name>
    <url-pattern>/LoadCountryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadStateServlet</display-name>
    <servlet-name>LoadStateServlet</servlet-name>
    <servlet-class>com.instagramweb.controller.LoadStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadStateServlet</servlet-name>
    <url-pattern>/LoadStateServlet</url-pattern>
  </servlet-mapping>
</web-app>